argparse==1.2.1
blessings==1.6
fxos-appgen==0.14
manifestparser==1.1
marionette-client==0.12
marionette-driver==0.13
marionette-transport==0.7
mozInstall==1.10
mozbench==0.1.0
mozcrash==0.16
mozdevice==0.44
mozdownload==1.17
mozfile==1.2
mozhttpd==0.7
mozinfo==0.7
mozlog==2.9
moznetwork==0.24
mozprocess==0.21
mozprofile==0.24
mozrunner==6.4
moztest==0.7
mozversion==1.4
progressbar==2.2
requests==2.7.0
wptserve==1.2.1
wsgiref==0.1.2
